## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [43]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [44]:
sample_list_1 = random.sample(range(101),80) 
#Using the random.sample doesn't repeat integers, so the set of this list will be the same size as the list itself.
print(sample_list_1)
print("length of sample_list_1 is:", len(sample_list_1))
"""
sample_list_1 = [random.randint(0,100) for i in range(80)]
When using this command, it can repeat some integers, hence set will be shorter than my list
"""

[12, 17, 64, 53, 84, 83, 50, 14, 58, 3, 33, 70, 23, 2, 52, 34, 59, 47, 88, 4, 57, 90, 79, 73, 43, 39, 26, 9, 48, 94, 66, 95, 41, 81, 76, 13, 40, 45, 67, 87, 19, 85, 60, 20, 77, 29, 61, 16, 99, 78, 80, 28, 15, 72, 42, 38, 75, 35, 98, 71, 21, 74, 37, 7, 91, 68, 46, 18, 63, 62, 54, 32, 1, 86, 24, 56, 89, 22, 93, 6]
length of sample_list_1 is: 80

'\nsample_list_1 = [random.randint(0,100) for i in range(80)]\nWhen using this command, it can repeat some integers, hence set will be shorter than my list\n'

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [45]:
set1 = set(sample_list_1)
print(set1)
print("length of set1 is:", len(set1))

{1, 2, 3, 4, 6, 7, 9, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 50, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 98, 99}
length of set1 is: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [46]:
sample_list_2= [random.randrange(0,101) for i in range(80)]
#When using this command, it can repeat some integers, hence set will be shorter than my list
print(sample_list_2)
print("length of sample_list_2 is:", len(sample_list_2))

[58, 47, 75, 4, 67, 92, 86, 47, 7, 20, 94, 34, 13, 49, 77, 46, 82, 28, 56, 47, 52, 21, 5, 58, 31, 89, 52, 14, 30, 69, 66, 33, 42, 21, 83, 5, 11, 5, 40, 63, 73, 49, 37, 47, 9, 65, 57, 69, 74, 97, 18, 73, 31, 75, 55, 56, 63, 97, 50, 43, 22, 69, 26, 54, 10, 89, 11, 31, 93, 56, 33, 70, 71, 85, 66, 65, 74, 30, 8, 22]
length of sample_list_2 is: 80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [47]:
set2= set(sample_list_2)
print(set2)
print("length of set2 is:", len(set2))

{4, 5, 7, 8, 9, 10, 11, 13, 14, 18, 20, 21, 22, 26, 28, 30, 31, 33, 34, 37, 40, 42, 43, 46, 47, 49, 50, 52, 54, 55, 56, 57, 58, 63, 65, 66, 67, 69, 70, 71, 73, 74, 75, 77, 82, 83, 85, 86, 89, 92, 93, 94, 97}
length of set2 is: 53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [48]:
list1=[]
for i in set1:
    if i not in set2:
        list1.append(i)
set3=set(list1)
print(set3)
print("length of set3 is:", len(set3))

{1, 2, 3, 6, 12, 15, 16, 17, 19, 23, 24, 29, 32, 35, 38, 39, 41, 45, 48, 53, 59, 60, 61, 62, 64, 68, 72, 76, 78, 79, 80, 81, 84, 87, 88, 90, 91, 95, 98, 99}
length of set3 is: 40

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [49]:
list2=[]
for i in set2:
    if i not in set1:
        list2.append(i)
set4=set(list2)
print(set4)
print("length of set4 is:", len(set4))

{65, 97, 5, 69, 8, 10, 11, 49, 82, 55, 92, 30, 31}
length of set4 is: 13

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [50]:
list3=[]
for i in set1:
    if i in set2:
        list3.append(i)
set5=set(list3)
print(set5)
print("length of set5 is:", len(set5))

{4, 7, 9, 13, 14, 18, 20, 21, 22, 26, 28, 33, 34, 37, 40, 42, 43, 46, 47, 50, 52, 54, 56, 57, 58, 63, 66, 67, 70, 71, 73, 74, 75, 77, 83, 85, 86, 89, 93, 94}
length of set5 is: 40

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [51]:
print("length of set1 is:", len(set1), "It is 80 because all elements are unique")
print("length of set2 is:", len(set2), "It is 60 because there are 20 repeated elements")
print("length of set3 is:", len(set3), "The number of elements that are in set 1 but not in set 2")
print("length of set4 is:", len(set4), "The number of elements that are in set 2 but not in set 1")
print("length of set5 is:", len(set5), "The number of shared elements between set 1 and set 2")

length of set1 is: 80 It is 80 because all elements are unique
length of set2 is: 53 It is 60 because there are 20 repeated elements
length of set3 is: 40 The number of elements that are in set 1 but not in set 2
length of set4 is: 13 The number of elements that are in set 2 but not in set 1
length of set5 is: 40 The number of shared elements between set 1 and set 2

#### Create an empty set called `set6`.

In [52]:
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [53]:
set6.update(set3)
set6.update(set5)
print(set6)
print("length of set6 is:", len(set6))

{1, 2, 3, 4, 6, 7, 9, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 50, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 98, 99}
length of set6 is: 80

#### Check if `set1` and `set6` are equal.

In [54]:
print("Set1 is:", set1)
print("Set6 is:", set6)
Checklist1=[]
for i in set1:
    if i in set6:
        Checklist1.append(True) # If the elements are in the two lists, it will add true
    else:
        Checklist1.append(i)
print(Checklist1)

Set1 is: {1, 2, 3, 4, 6, 7, 9, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 50, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 98, 99}
Set6 is: {1, 2, 3, 4, 6, 7, 9, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 50, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 98, 99}
[True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True]

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [55]:
set1.issubset(set2)

False

In [56]:
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [57]:
set7=set3|set4|set5
print ("set3 union set4 union set6:", set7)
set8=set1|set2
print ("set1 union set2:", set8)

Checklist2=[]
for i in set7:
    if i in set8:
        Checklist2.append(True) # If the elements are in the two lists, it will add true
    else:
        Checklist2.append(i)
print(Checklist2)

set3 union set4 union set6: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}
set1 union set2: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}
[True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True]

#### Using the `pop` method, remove the first element from `set1`.

In [58]:
set1.pop()

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [62]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1.difference_update(list_to_remove)
print(set1)

{2, 3, 4, 6, 7, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 28, 32, 33, 34, 35, 37, 38, 40, 42, 43, 45, 46, 47, 48, 50, 52, 53, 54, 56, 57, 58, 60, 62, 63, 64, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 83, 84, 85, 86, 87, 88, 90, 93, 94, 95, 98}